<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/components/frontEnd/main.css">
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator_bootstrap4.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="/components/frontEnd/Common/logic.js"></script>
  <title>Home</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" id="Name" href="#" style="padding-left: 10px;">(username)</a>
    <a class="navbar-brand" id="Role">(role)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" onclick="Logout()" href="#">Logout</a>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <button class="nav-link active" onclick="Tabs('nav-home')" id="nav-home-tab" data-bs-toggle="tab"
          data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Students
          Without Advisor</button>
        <button class="nav-link" onclick="Tabs('nav-profile')" id="nav-profile-tab" data-bs-toggle="tab"
          data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">List
          Of Your Students</button>
        <button class="nav-link" onclick="Tabs('nav-contact')" id="nav-contact-tab" data-bs-toggle="tab"
          data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
          aria-selected="false">Student Advisory Request</button>
        <button class="nav-link" onclick="Tabs('nav-recommended')" id="nav-recommended-tab" data-bs-toggle="tab"
          data-bs-target="#nav-recommended" type="button" role="tab" aria-controls="nav-recommended"
          aria-selected="false">Recommended Students</button>
        <button class="nav-link" onclick="Tabs('nav-myrecommend')" id="nav-myrecommend-tab" data-bs-toggle="tab"
          data-bs-target="#nav-myrecommend" type="button" role="tab" aria-controls="nav-myrecommend"
          aria-selected="false">My Recommendations</button>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div id="studentTable"></div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div id="yourStudents"></div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div id="advisoryRequest"></div>
      </div>

      <div class="tab-pane fade" id="nav-recommended" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div id="recommendedStudents"></div>
      </div>

      <div class="tab-pane fade" id="nav-recommend" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form style="width: 50%;margin: 24px auto;">
          <br>
          <br>
          <input id="studentNetID" style="display: none;">
          <bold id="studentName">Student: test</bold>
          <br>
          <br>
          <textarea id="Recom" sstyle="height: 200px;" class="form-control" placeholder="Recommendation Text">

                    </textarea>
          <br>
          <button id="Post" class="btn btn-primary" type="button">Submit</button>
          <button id="Cancel" class="btn btn-primary" type="button">Cancel</button>
        </form>
      </div>

      <div class="tab-pane fade" id="nav-myrecommend" role="tabpanel" aria-labelledby="nav-myrecommend-tab">
        <div id="myrecommendation"></div>
      </div>
    </div>
  </div>
  <div class="loader" id="loader"></div>
</body>

</html>

<script>
  var Id = localStorage.getItem('Id');
  $(document).ready(() => {
    var name = localStorage.getItem('Name');
    var role = localStorage.getItem('Role');
    $('#Name').html(name);
    $('#Role').html(role);
    if (name == undefined || name == "") {
      window.location.href = "/";
    }
  })

  var tabToReturn = ''

  function Tabs(Tab) {
    var base = ['nav-home', 'nav-profile', 'nav-contact', 'nav-recommended', 'nav-recommend', 'nav-myrecommend'];
    var tab = document.getElementById(Tab);
    base.forEach(element => {
      if (element !== Tab) {
        document.getElementById(element).setAttribute('class', 'tab-pane fade');
      } else {
        document.getElementById(Tab).setAttribute('class', 'tab-pane fade show active');

      }
    });

  }

  async function getStudentWithoutAdvisor() {
    var data = "currentUser=" + Id
    await $.ajax({
      type: "GET",
      url: "/student/withoutAdvisor",
      cache: false,
      data: data,
      success: (data) => {
        var table = new Tabulator("#studentTable", {
          layout: "fitDataFill",

          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40,
              resizable: false,
            },
            {
              title: "Full Name",
              field: "FullName",
              resizable: false,
            },
            {
              title: "Phone Number",
              field: "Phone",
              resizable: false,
            },
            {
              title: "Email",
              field: "Email",
              resizable: false,
            },
            {
              formatter: function (cell, formatterParams) {
                if (cell.getRow().getData().IsRequestDisabled === 1) {
                  return "<button class='btn btn-primary' disabled>" + formatterParams.buttonText +
                    "ed</button>";
                } else
                  return "<button class='btn btn-primary'>" + formatterParams.buttonText + "</button>";
                // return `<button class='btn btn-primary' onclick="await functionRouter('Request','` + cell.getRow().getData().NetID + `')">` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Request'
              },
              width: 150,
              headerSort: false,
              resizable: false,
              hozAlign: "center",
              cellClick: async function (e, cell) {
                if (cell.getRow().getData().IsRequestDisabled === 1)
                  return;
                await functionRouter('Request', cell.getRow().getData().NetID);
              }
            }, {
              formatter: function (cell, formatterParams) {
                if (cell.getRow().getData().IsRecommendationDisabled === 1) {
                  return "<button class='btn btn-primary' disabled>" + formatterParams.buttonText +
                    "ed</button>";
                } else
                  return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Recommend'
              },
              width: 150,
              headerSort: false,
              resizable: false,
              hozAlign: "center",
              cellClick: async function (e, cell) {
                if (cell.getRow().getData().IsRecommendationDisabled === 1)
                  return;

                $("#studentName").text("Student: " + cell.getRow().getData().FullName)
                $("#studentNetID").val(cell.getRow().getData().NetID)
                $("#Recom").val("")
                Tabs('nav-recommend');
                tabToReturn = 'nav-home';
              }
            },
          ],
        });

      }
    })
  }

  async function getYourStudents() {
    await $.ajax({
      type: "GET",
      url: `/student/list/${Id}`,
      cache: false,
      success: (data) => {
        var table = new Tabulator("#yourStudents", {
          layout: "fitDataFill",

          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40,
              resizable: false,
            },
            {
              title: "Full Name",
              field: "FullName",
              resizable: false,
            },
            {
              title: "Phone Number",
              field: "Phone",
              resizable: false,
            },
            {
              title: "Email",
              field: "Email",
              resizable: false,
            },
            {
              formatter: function (cell, formatterParams) {
                return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Remove'
              },
              width: 150,
              headerSort: false,
              hozAlign: "center",
              resizable: false,
              cellClick: async function (e, cell) {
                await functionRouter('Remove', cell.getRow().getData().NetID);
              }
            }, {
              formatter: function (cell, formatterParams) {
                if (cell.getRow().getData().IsRecommendationDisabled === 1) {
                  return "<button class='btn btn-primary' disabled>" + formatterParams.buttonText +
                    "ed</button>";
                } else
                  return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Recommend'
              },
              width: 150,
              headerSort: false,
              resizable: false,
              hozAlign: "center",
              cellClick: async function (e, cell) {
                if (cell.getRow().getData().IsRecommendationDisabled === 1)
                  return;

                $("#studentName").text("Student: " + cell.getRow().getData().FullName)
                $("#studentNetID").val(cell.getRow().getData().NetID)
                $("#Recom").val("")
                Tabs('nav-recommend');
                tabToReturn = 'nav-profile';
              }
            }
          ],
        });
      }
    })
  }



  async function getYourStudentAdvisoryRequest() {
    await $.ajax({
      type: "GET",
      url: "/advisoryRequest/" + Id,
      cache: false,
      success: (data) => {
        var table = new Tabulator("#advisoryRequest", {
          layout: "fitDataFill",

          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40,
              resizable: false,
            },
            {
              title: "Full Name",
              field: "FullName",
              resizable: false,
            },
            {
              title: "Phone Number",
              field: "Phone",
              resizable: false,
            },
            {
              title: "Email",
              field: "Email",
              resizable: false,
            },
            {
              title: "Request Date",
              field: "DateRequested",
              resizable: false,
            },
            {
              formatter: function (cell, formatterParams) {
                return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Accept'
              },
              width: 150,
              hozAlign: "center",
              headerSort: false,
              resizable: false,
              cellClick: async function (e, cell) {
                await functionRouter('Accept', cell.getRow().getData().NetID);
              }
            },
          ],
        });
      }
    })
  }

  async function getrecommendedTa() {
    var data = "currentUser=" + Id
    await $.ajax({
      type: "GET",
      url: "/recommendation",
      cache: false,
      data: data,
      success: (data) => {
        var table = new Tabulator("#recommendedStudents", {
          layout: "fitDataFill",

          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40,
              resizable: false,
            },
            {
              title: "Full Name",
              field: "FullName",
              resizable: false,
            },
            {
              title: "Phone Number",
              field: "Phone",
              resizable: false,
            },
            {
              title: "Email",
              field: "Email",
              resizable: false,
            },
            {
              title: "Recommendation",
              field: "RecommendationText",
              resizable: false,
            }, {
              title: "Recommended By",
              field: "RecommendedBy",
              resizable: false,
            }, {
              formatter: function (cell, formatterParams) {
                if (cell.getRow().getData().IsRequestDisabled === 1) {
                  return "<button class='btn btn-primary' disabled>" + formatterParams.buttonText +
                    "ed</button>";
                } else
                  return "<button class='btn btn-primary'>" + formatterParams.buttonText + "</button>";
                // return `<button class='btn btn-primary' onclick="await functionRouter('Request','` + cell.getRow().getData().NetID + `')">` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Request'
              },
              width: 150,
              headerSort: false,
              hozAlign: "center",
              resizable: false,
              cellClick: async function (e, cell) {
                if (cell.getRow().getData().IsRequestDisabled === 1)
                  return;
                await functionRouter('Request', cell.getRow().getData().NetID);
              }
            },
          ],
        });
      }
    })
  }

  async function getMyRecommendations() {
    var data = "currentUser=" + Id
    await $.ajax({
      type: "GET",
      url: "/myrecommendation",
      cache: false,
      data: data,
      success: (data) => {
        var table = new Tabulator("#myrecommendation", {
          layout: "fitDataFill",

          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40,
              resizable: false,
            },
            {
              title: "Full Name",
              field: "FullName",
              resizable: false,
            },
            {
              title: "Phone Number",
              field: "Phone",
              resizable: false,
            },
            {
              title: "Email",
              field: "Email",
              resizable: false,
            },
            {
              title: "Recommendation",
              field: "RecommendationText",
              resizable: false,
            }, {
              formatter: function (cell, formatterParams) {
                return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Remove'
              },
              width: 150,
              headerSort: false,
              hozAlign: "center",
              resizable: false,
              cellClick: async function (e, cell) {
                await functionRouter('Remove Recommendation', cell.getRow().getData().NetID);
              }
            },
          ],
        });
      }
    })
  }

  // async function getStudents() {
  //   await $.ajax({
  //     type: "GET",
  //     url: "/students",
  //     cache: false,
  //     success: (data) => {

  //       data.forEach((element, index) => {

  //         $('#Select').append(`
  //                   <option value=${element.NetID}>${element.FullName}</option>
  //                 `)
  //       });
  //     }
  //   })
  // }


  $('#Post').click(async () => {
    await functionRouter("Submit Recommendation", $('#studentNetID').val())
  })

  $('#Cancel').click(async () => {
    Tabs('nav-home')
  })

  async function Postrecommendation(studentID, text) {

    var data = "&Id=" + Id + "&text=" + text.trim() + "&User=" + studentID;
    await $.ajax({
      type: "GET",
      data: data,
      url: "/recommend",
      cache: false,
      success: (data) => {
        if (data == true) {
          //alert('recommended succesfully');
        } else {
          alert('Failed To recommend, ' + data);
        }
      }
    })
  }

  async function Request(id) {
    var data = "admin=" + Id + "&student=" + id;
    await $.ajax({
      type: "GET",
      url: "/AdminRequest",
      cache: false,
      data: data,
      success: (data) => {
        if (data == true) {
          // alert('Request Submited Succesfully');
        } else {
          alert('Request Failed');
        }
      }
    })
  }


  async function RemoveRecommendation(student, admin) {

    var data = "Id=" + student + "&admin=" + admin;
    await $.ajax({
      type: "GET",
      data: data,
      url: "/RemoveRecommendation",
      cache: false,
      success: (data) => {
        if (data == true) {
          //alert('Removed succesfully');
        } else {
          alert('Failed To Remove');
        }
      }
    })
  }

  async function functionRouter(action, netID) {
    showScroller()
    switch (action) {
      case 'Accept':
        if (confirm("Are you sure you want to Accept Request from" + netID)) {
          await AcceptAllocation(netID, Id);
        }
        break;
      case 'Remove':
        if (confirm("Are you sure you want to remove " + netID)) {
          await Remove(netID, Id);
        }
        break;
      case 'Request':
        await Request(netID);
        break;
      case 'Submit Recommendation':
        var text = $('#Recom').val();

        if (text.trim() !== "") {
          await Postrecommendation(netID, text)
          Tabs(tabToReturn);
        } else {
          alert("Please Provide Recommendation");
          break;
        }
        break;
      case 'Remove Recommendation':
        if (confirm("Are you sure you want to remove recommendation for " + netID)) {
          await RemoveRecommendation(netID, Id);
        }
        break;
      default:
        console.log("Not Mapped Yet " + action)
    }
    await refreshData();
    hideScroller()
  }

  function showScroller() {
    $("#loader").show();
  }

  function hideScroller() {
    $("#loader").hide();
  }

  async function refreshData() {
    await getStudentWithoutAdvisor();
    await getYourStudents();
    await getrecommendedTa();
    await getYourStudentAdvisoryRequest();
    await getMyRecommendations()
  }

  refreshData()
  hideScroller()
</script>