<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="../main.css" rel="stylesheet"> -->
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator_bootstrap4.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/components/frontEnd/Common/logic.js"></script>

  <title>Home</title>
</head>

<body>
  <div class="loader"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" id="Name" href="#" style="padding-left: 10px;">(username)</a>
    <a class="navbar-brand" id="Role">(role)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" onclick="Logout()" href="#">Logout</a>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" onclick="Tabs('nav-home')" id="nav-home-tab" data-bs-toggle="tab"
          data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Request
          Advisory</button>
          <button class="nav-link" onclick="Tabs('nav-profile')" id="nav-profile-tab" data-bs-toggle="tab"
          data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
          Advisor Requests</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div id="professorTable"></div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div id="yourRequests"></div>
      </div>
    </div>
  </div>
  <div class="loader" id="loader"></div>
</body>

</html>


<script>
  var Id = localStorage.getItem('Id');
  $(document).ready(() => {
    var name = localStorage.getItem('Name');
    var role = localStorage.getItem('Role');
    $('#Name').html(name);
    $('#Role').html(role);
    if (name == undefined || name == "") {
      window.location.href = "/";
    }
  })

  function Tabs(Tab) {
    var base = ['nav-home','nav-profile'];
    var tab = document.getElementById(Tab);
    base.forEach(element => {
      if (element !== Tab) {
        document.getElementById(element).setAttribute('class', 'tab-pane fade');
      } else {
        document.getElementById(Tab).setAttribute('class', 'tab-pane fade show active');

      }
    });

  }

  async function getProfs() {
    var data = "Id=" + Id;
    await $.ajax({
      type: "GET",
      url: "/Profs",
      cache: false,
      data: data,
      success: (data) => {
        var table = new Tabulator("#professorTable", {
          layout: "fitDataFill",
          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40
            },
            {
              title: "Full Name",
              field: "FullName"
            },
            {
              title: "Phone Number",
              field: "Phone"
            },
            {
              title: "Email",
              field: "Email"
            },
            {
              formatter: function (cell, formatterParams) {
                if (cell.getRow().getData().IsRequestDisabled === 1) {
                  return "<button class='btn btn-primary' disabled>" + formatterParams.buttonText +
                    "ed</button>";
                } else if(cell.getRow().getData().IsAdvisor === 1){
                  return "<b>Your Advisor</b>";
                }else 
                  return "<button class='btn btn-primary'>" + formatterParams.buttonText + "</button>";
                // return `<button class='btn btn-primary' onclick="await functionRouter('Request','` + cell.getRow().getData().NetID + `')">` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Request'
              },
              width: 150,
              headerSort: false,
              hozAlign: "center",
              cellClick: async function (e, cell) {
                if (cell.getRow().getData().IsRequestDisabled === 1 || cell.getRow().getData().IsAdvisor === 1)
                  return;
                await functionRouter('Request', cell.getRow().getData().NetID);
              }
            },
          ],
        });
      }
    })
  }

  async function getAdminAdvisoryRequest() {
    var data = "Id=" + Id;
    await $.ajax({
      type: "GET",
      url: "/advisoryRequest/" + Id,
      cache: false,
      success: (data) => {
        var table = new Tabulator("#yourRequests", {
          layout: "fitDataFill",
          data: data,
          columns: [{
              formatter: "rownum",
              hozAlign: "center",
              width: 40
            },
            {
              title: "Full Name",
              field: "FullName"
            },
            {
              title: "Phone Number",
              field: "Phone"
            },
            {
              title: "Email",
              field: "Email"
            },
            {
              title: "Request Date",
              field: "DateRequested"
            },
            {
              formatter: function (cell, formatterParams) {
                return `<button class='btn btn-primary'>` + formatterParams.buttonText + "</button>";
              },
              formatterParams: {
                buttonText: 'Accept'
              },
              width: 150,
              hozAlign: "center",
              headerSort: false,
              cellClick: async function (e, cell) {
                await functionRouter('Accept', cell.getRow().getData().NetID);
              }
            },
          ],
        });
      }
    })
  }
  async function functionRouter(action, netID) {
    showScroller()
    switch (action) {
      case 'Accept':
        await AcceptAllocation(Id, netID);
        break;
      case 'Request':
        await Request(netID);
        break;
      default:
        console.log("Not Mapped Yet " + action)


    }
    await refreshData();
    hideScroller()
  }

  async function Request(id) {
    var data = "admin=" + id + "&student=" + Id;
    await $.ajax({
      type: "GET",
      url: "/StudentRequest",
      cache: false,
      data: data,
      success: (data) => {
        if (data == true) {
          //alert('Request Submited Succesfully');
        } else {
          alert('Request Failed');
        }
      }
    })
  }
  function showScroller() {
    $("#loader").show();
  }

  function hideScroller() {
    $("#loader").hide();
  }

  async function refreshData() {
    await getProfs()
    await getAdminAdvisoryRequest()
  }


  refreshData() 
  hideScroller()
</script>